*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255,250,250);
}

a{
    text-decoration: none;
    color: black;
}
.nav{
    top: 0;
    position: fixed;
    width: 100%;
    display: none;
}

.header{
    width: 100%;
    height: 70px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:lightgray;
    background-image: url(assets/images/mimgs/headcover.png);
    background-position: center;
}

.cartoon{
    justify-content: center;
    text-align: center;
}

.logo{
    padding-left: 10px;
}
.close{
    padding-right: 10px;
    font-size: 2rem;
}

.logo img{
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}
.eng{
    text-align: center;
    color:white;
    font-weight: 600;
}
.bama{
    font-size: small;
    color:white;
}

.search-box{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    height: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    .tit-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
        position: absolute;
        img{
            width: 30px;
            padding-left: 5px;
        }
        p{
            padding-left: 5px;
            font-size: small;
            font-weight: 600;
            user-select: none;
        }
    }
    input{
        position: absolute;
        border:none;
        background: none;
        outline: none;
        left: 110px;
        width: 100%;
    }
    i{
        font-size: 1.5rem;
        padding-right: 5px;
        position: absolute;
        right: 5px;
    }
    
}


.tabs-ctn{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: white;
    border-bottom: 2px solid black;
}
.tab-btn{
    border: none;
    background: none;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}
.tab-btn.active{
    color: blue;
    border-bottom: 3px solid blue;
}

.search-tabs{
    top: 0;
    position: fixed;
    width: 100%;
}
.main{
    width: 100%;
    margin-top: 70px;
    
}
.all-ctn .albums-div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .product{
        position: relative;
        width: 100px;
        height: 120px;
        margin:3px;
        overflow: hidden;
        text-align: center;
        user-select: none;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 5px 5px rgb(156, 153, 153);
        .title{
            height: 20px;
            margin-bottom: 5px;
            font-size: small;
        }
        img{
            width: 100%;
            transition: transform 0.2s linear;
            border-radius: 10%;
        }
        
    }
}

.all-ctn .artists-div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .product{
        position: relative;
        width: 100px;
        height: 100px;
        margin: 5px;
        overflow: hidden;
        text-align: center;
        background-color: rgb(228, 227, 227);
        border-radius: 10px;
        cursor: pointer;
        .title{
            height: 20px;
            font-size: small;
        }
        img{
            width: 70%;
            transition: transform 0.2s linear;
            border-radius: 50%;
            padding: 5px;
        }
        
    }
        

}
.albums-ctn{
    .product{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        background-color: rgb(142, 106, 106);
        img{
            width: 100px;
            border-radius: 20px;
            margin-right: 20px;
        }
        .texts{
            font-size: small;
            color: rgb(255, 255, 255);
            .singers-name{
                text-align: left;
            }
        }
    }
}
.albums-ctn .product:nth-child(odd){

            background-color: rgb(5, 37, 106);
}
@media (min-width:475px) {
    .albums-ctn{
        .product{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            background-color: rgb(142, 106, 106);
            img{
                width: 130px;
                border-radius: 20px;
                margin-right: 100px;
            }
            .texts{
                font-size: medium;
                .singers-name{
                    text-align: left;
                }
            }
        }
    }
}

@media (min-width:640px) {
    .nav{
        display: block;
    }
    .search-tabs{
        margin-top: 70px;
    }
    .main{
        margin-top: 145px;
    }
    .albums-ctn{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        .product{
            display: flex;
            align-items: center;
            margin: 10px;
            img{
                width: 150px;
                margin-right: 200px;
                border-radius: 20px;
            }
            .texts{
                font-size: large;
                .singers-name{
                    text-align: left;
                }
            }
        }
    }
    
}
.product:hover img{
    transform: scale(1.05);
}

h6{
    display: none;
}
.content{
    display: none;
    animation: fade .5s ease;
}
@keyframes fade{
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translate(0px);opacity: 1;}
}
.content.active{
    display: block;
}
