/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:linear-gradient(-45deg,rgb(3, 30, 30),rgb(89, 89, 89));
}
img:hover{
  transform: scaleX(1.05);
}

.main-ctn{
    width: 100%;
    height: 100vh;
    margin: 70px 0px 120px;
    h3{
      color: white;
      margin: 0 10px;
    }
    .content{
      display: none;
      animation: fade .5s ease;
    }
   
    .content.active{
      display: block;
    }
    
    .search-tabs{
      top: 0;
      position: fixed;
      width: 100%;
      z-index: 2;
        .search-box{
          width: 100%;
          background-color: white;
          display: flex;
          align-items: center;
          height: 30px;
          border-top: 2px solid black;
          border-bottom: 2px solid black;
          .tit-logo{
              display: flex;
              align-items: center;
              width: 135px;
              position: absolute;
              img{
                  padding-left: 5px;
                  width: 30px;
              }
              p{
                  padding-left: 5px;
                  font-size: small;
                  font-weight: 600;
                  user-select: none;
              }
          }
          input{
              position: absolute;
              border:none;
              background: none;
              outline: none;
              left: 140px;
              width: 100%;
          }
          i{
              font-size: 1.5rem;
              padding-right: 5px;
              position: absolute;
              right: 5px;
          }
          
      }
        .tabs-ctn{
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            background-color:rgb(30,30,30);
            border-bottom: 1px solid white;
            .tab-btn{
                border: none;
                background: none;
                cursor: pointer;
                user-select: none;
                color:white;
            }
            .active{
                color: rgb(255, 255, 255);
                border-bottom: 3px solid rgb(255, 255, 255);
                font-weight: bold;
            }
        }
    }
    
}
@keyframes fade{
  from{transform: translateY(-70px);opacity: 0;}
  to{transform: translate(0px);opacity: 1;}
}
.container {
    width: 100%;
    padding: 10px 0px 30px;
    .slide-container{
      margin: 0 10px;
      overflow: hidden;
      .card {
          height: 160px;
          user-select: none;
          .image-box {
              height: 120px;
              img {
                  width: 100%;
                  height: 100%;
                }
              }
              .profile-details {
                text-align: center;
                color: rgb(255, 255, 255);
                height: 30px;
                padding: 5px 0px;
                font-size: small;
                h6{
                  display: none;
                }
               }
      }
    }
    .swiper-navBtn {
        color: #000;
        height: 40px;
        width: 40px;
        transform: translateY(-50%);
        background: #fff;
        border-radius: 50%;
      }
      .swiper-navBtn::before,
      .swiper-navBtn::after {
        font-size: 24px;
      }
      
      .swiper-pagination-bullet {
        background-color: #ffffff;
      }
      @media screen and (max-width: 768px) {
        .swiper-navBtn {
          display: none;
        }
      }
  }
.container2 {
    width: 100%;
    padding: 10px 0px 10px;
    .slide-container2{
      margin: 0 10px;
      overflow: hidden;
      .card {
          height: 130px;
          user-select: none;
          .image-box {
              height: 100px;
              img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                }
              }
              .profile-details {
                height: 30px;
                text-align: center;
                color: white;
                padding: 5px 0px;
                font-size: small;
                h6{
                  display: none;
                }
               }
      }
    }
  }
.container3 {
    width: 100%;
    padding: 10px 0px 10px;
    .slide-container3{
      margin: 0 10px;
      overflow: hidden;
      .card {
          height: 200px;
          user-select: none;
          .image-box {
              height: 160px;
              padding: 0px 15px;
              img {
                  width: 100%;
                  height: 100%;
                }
              }
              .profile-details {
                text-align: center;
                color: rgb(255, 255, 255);
                height: 30px;
                padding: 5px 0px;
                h6{
                  display: none;
                }
               }
      }
    }
  }

.albums-ctn{
    margin: 0px 10px;
    padding-bottom: 130px;
    a{
      text-decoration: none;
    }
    .product{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 5px;
        margin: 5px 0px;
        border: 1px solid white;
        h6{
          display: none;
        }
        img{
            width: 110px;
        }
        .texts{
            width: 50%;
            color: rgb(255, 255, 255);
            font-size: small;
        }
    }
}
.artists-ctn{
  margin:0px 10px;
  padding-bottom: 130px;
  a{
    text-decoration: none;
  }
  .product{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 5px;
      margin: 5px 0px;
      border: 1px solid white;
      h6{
        display: none;
      }
      img{
          width: 80px;
          border-radius: 50%;
      }
      .texts{
          width: 50%;
          color: rgb(255, 255, 255);
          font-size: small;
      }
  }
}

.songs-ctn{
  padding-bottom: 100px;
}

.none-block{
  display: none;
}
.controls-container{
  bottom: 0;
  position: fixed;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  background:linear-gradient(-45deg,rgb(3, 30, 30),rgb(89, 89, 89));
  z-index: 1;
}

#myProgress {
  width: 80%;
   background-color: gray; 
  cursor: pointer;
  border-radius: 10px;
  margin: auto;
}

#myBar {
  width: 0%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
}

.btn-ctn, .infos-ctn{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  margin: 5px 0px;
}

.btn-ctn i:hover{
  transform: scale(1.2);
}

.infos-ctn > div {
 color: #ffffff;
}

.titles{
  width: 67%;
  text-align: center;
  font-size: small;
}
.timer,.duration{
  font-size: small;
}

.player-ctn{
  border-radius: 15px;
  width: 95%;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playlist-ctn{
  width: 100%;
}

.playlist-track-ctn{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
  h6{
    display: none;
  }
}


.playlist-track-ctn:hover{
  transform: scaleY(1.2);
  background-color: #b5b3b3;
}

.playlist-info-track,.playlist-duration{
  color: #ffffff;
  font-size: .9rem;
  pointer-events: none;
}
.playlist-info-track{
  text-align: start;
  width: 45%;
}
.playlist-duration{
    width: 45%;
    text-align: end;
    right: 0;
  }


.active-track{
  background: grey;
  transform: scaleY(1.2);
}
  
.playlist-btn-play{
  pointer-events: none;
  width: 10%;
}
.fas{
  font-size: 1.5rem;
}
.btn-ctn .fas{
  color: #ffffff;
}
.playlist-btn-play i{
  color: #ffffff;
  font-size: 1rem;
}
.songs-ctn{
  margin-bottom: 150px;
}







    
