*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color: black;
}
.nav{
    top: 0;
    position: fixed;
    width: 100%;
}

.header{
    width: 100%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:lightgray;
    background-image: url(assets/images/mimgs/headcover.png);
    background-position: center;
    background-repeat: no-repeat;
}

.cartoon{
    width: 60%;
    justify-content: center;
    text-align: center;
}
    

.logo{
    padding-left: 10px;
}
.close{
    padding-right: 10px;
    font-size: 1.5rem;
}
.logo:hover,
.close:hover{
    transform: scale(1.2);
    color: white;
}

.logo img{
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
}
.eng{
    text-align: center;
    color:white;
    font-weight: 600;
}
.bama{
    color:white;
}

.search-box{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    border-bottom: 3px solid rgb(0, 0, 0);
}
input{
    border:none;
    background: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
}
.search-box i{
    font-size: 1.5rem;
}
.main{
    margin-top: 100px;
}
.head-div{
 margin: 0px 5px 10px;
 display: flex;
 justify-content: space-between;
}


.albums-ctn{
    background-color: skyblue;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 230px;
    margin-bottom: 10px;
        .product{
            width: 170px;
            margin: 10px;
            overflow: hidden;
            text-align: center;
                    img{
                        width: 100%;
                        border-radius: 10%;
                        }
            }
        }
.artists-ctn{
    background-color: rgb(7, 167, 231);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 160px;
    margin-bottom: 10px;
        .product{
            width: 110px;
            margin: 10px;
            overflow: hidden;
            text-align: center;
                    img{
                        width: 100%;
                        border-radius: 50%;
                        }
            }
        }

h6{
    display: none;
}
